<script type="text/javascript" src="//cdn.jsdelivr.net/npm/artitalk"></script>
<div id="artitalk_main"></div>
<script>
    new Artitalk({
        appId: '<%- theme.artitalk.appId %>',
        appKey: '<%- theme.artitalk.appKey %>',
    })
</script>