<div class="dream">
    <% if (theme.dream.showTitle) { %>
    <div class="title center-align">
        <i class="fa fa-lightbulb-o"></i>&nbsp;&nbsp;<%- theme.dream.title %>
    </div>
    <% } %>
    <div class="row">
        <div class="col s10 offset-s1  m8 offset-m2 center-align text">
            <%- theme.dream.text %>
        </div>
    </div>
</div>