<div class="container recommend">
    <div class="card">
        <div class="card-content">
            这是推荐的内容，待开发...<br><br><br>
            这是推荐的内容,待开发...<br><br><br>
            这是推荐的内容,待开发...<br><br>
            这是推荐的内容,待开发...<br><br><br>
        </div>
    </div>
</div>