.carousel-control {
    width: 45px;
    height: 45px;
    line-height: 55px;
    border-radius: 45px;
    background: transparent;
    cursor: pointer;
    z-index: 100;
}

#prev-cover {
    position: absolute;
    top: 48%;
    left: 8px;
}

#next-cover {
    position: absolute;
    top: 48%;
    right: 8px;;
}

#prev-cover i {
    margin-right: 3px;
}

#next-cover i {
    margin-left: 3px;
}

.carousel-control:hover {
    background-color: rgba(0, 0, 0, .4);
}

.carousel-control i {
    color: #fff;
    font-size: 2.4rem;
}