<!-- 深色模式按钮 -->
<a onclick="switchNightMode()" id="sma" title="模式切换">
    <i class="fa fa-moon" id="nightMode" aria-hidden="true"></i>
</a>
<!-- 回到顶部按钮 -->
<div id="backTop" class="top-scroll">
    <a class="btn-floating btn-large waves-effect waves-light" href="#!">
        <i class="fas fa-arrow-up"></i>
    </a>
</div>
