<style>
    .mvaline-card {
        margin: 1.5rem auto;
    }

    .mvaline-card .card-content {
        padding: 20px 20px 5px 20px;
    }
</style>

<div class="card mvaline-card" data-aos="fade-up">
    <div class="comment_headling" style="font-size: 20px; font-weight: 700; position: relative; padding-left: 20px; top: 15px; padding-bottom: 5px;">
        <i class="fas fa-comments fa-fw" aria-hidden="true"></i>
        <span>评论</span>
    </div>
    <div id="mvcomments" class="card-content" style="display: grid">
    </div>
</div>

<script>
    $.getScript("<%- theme.jsDelivr.url %><%- url_for(theme.libs.js.minivaline) %>",function () {
        new MiniValine(Object.assign(<%- JSON.stringify(theme.minivaline) %>, {
            el: '#mvcomments',
        }));
    })
</script>
