<style>
    .toc-fixed {
        position: fixed;
        top: 64px;
    }

    .toc-widget {
        padding-left: 20px;
    }

    .toc-widget ol {
        padding: 0;
        list-style: none;
    }

    .post-toc ol {
        padding-left: 20px;
    }

    .post-toc a {
        color: #34495e;
        font-size: 0.96rem;
    }

    .post-toc a:hover {
        color: #42b983;
        text-decoration: underline;
    }

    .post-toc .active {
        color: #42b983;
        font-weight: 500;
    }
</style>
<div class="row">
    <div class="col s12 m12 l9">
        <%- partial('_partial/post-detail.ejs') %>
    </div>
    <div class="col l3 hide-on-med-and-down">
        <div class="toc-widget">
            <h4><%- __('toc') %></h4>
            <div id="toc-content">
                <%- toc(page.content, {class: 'post-toc', list_number: false}) %>
            </div>
        </div>
    </div>
</div>

<script>
$(function () {
    let tocLinks = $('#toc-content a');
    tocLinks.on('click', function () {
        tocLinks.removeClass('active');
        $(this).addClass('active');
    });
});
</script>