<link rel="stylesheet" type="text/css" href="/libs/share/css/share.min.css">

<div id="article-share">
  
    <div class="social-share" data-sites="<%- theme.share %>" data-wechat-qrcode-helper="<p>微信扫一扫即可分享！</p>"></div>

</div>

<script src="/libs/share/js/social-share.min.js"></script>
