<link rel="stylesheet" type="text/css" href="/libs/jqcloud/jqcloud.min.css">

<div class="container tag-cloud-container">
    <div class="card">
        <div id="tagCloud" class="card-content"></div>
    </div>
</div>

<script type="text/javascript" src="/libs/jqcloud/jqcloud.min.js"></script>
<script type="text/javascript">
    <%
        let tagWords = '[';
        var i = 0;
        site.tags.map(function(tag) {
            tagWords = (i === 0 ? tagWords + '{text: "' : tagWords + ', {text: "')
                    + tag.name + '", weight: ' + tag.length + ', link: "' + tag.permalink + '"}';
            ++i;
        });
        tagWords += ']';
    %>

    $('#tagCloud').jQCloud(<%- tagWords %>, {
        autoResize: true
    });
</script>