<div id="theme-change" left="-200" class="hide-on-med-and-down">
    <div class="theme-change-handle">
        <i class="fa fa-gear fa-lg bf-text-color"></i>
    </div>
    <div class="theme-change-container">
        <h6>主题颜色面板</h6>
        <div id="theme-panel">
            <ul>
                <li class="bf-blue" data-colors="blue"></li>
                <li class="bf-pink" data-colors="pink"></li>
                <li class="bf-orange" data-colors="orange"></li>
                <li class="bf-green" data-colors="green"></li>
                <li class="bf-red" data-colors="red"></li>
                <li class="bf-purple" data-colors="purple"></li>
            </ul>
        </div>
    </div>
</div>

<div id="themeModal" class="modal bottom-sheet hide-on-large-only">
    <div class="modal-content">
        <h4>设置主题</h4>
        <div class="container row theme-settings">
            <div class="col bf-blue waves-effect waves-light" data-colors="blue"></div>
            <div class="col bf-pink waves-effect waves-light" data-colors="pink"></div>
            <div class="col bf-orange waves-effect waves-light" data-colors="orange"></div>
            <div class="col bf-green waves-effect waves-light" data-colors="green"></div>
            <div class="col bf-red waves-effect waves-light" data-colors="red"></div>
            <div class="col bf-purple waves-effect waves-light" data-colors="purple"></div>
        </div>
    </div>
</div>
