<style>
    .waline-card {
        margin: 1.5rem auto;
    }
    .waline-card .card-content {
        padding: 20px 20px 5px 20px;
    }

    #waline p {
        margin: 2px 2px 10px;
        font-size: 1.05rem;
        line-height: 1.78rem;
    }
    #waline blockquote p {
        text-indent: 0.2rem;
    }
    #waline a {
        padding: 0 2px;
        color: #4cbf30;
        font-weight: 500;
        text-decoration: none;
    }
    #waline img {
        max-width: 100%;
        cursor: pointer;
    }
    #waline ol li {
        list-style-type: decimal;
    }
    #waline ol,
    ul {
        display: block;
        padding-left: 2em;
        word-spacing: 0.05rem;
    }
    #waline ul li,
    ol li {
        display: list-item;
        line-height: 1.8rem;
        font-size: 1rem;
    }
    #waline ul li {
        list-style-type: disc;
    }
    #waline ul ul li {
        list-style-type: circle;
    }
    #waline table, th, td {
        padding: 12px 13px;
        border: 1px solid #dfe2e5;
    }
    #waline table, th, td {
        border: 0;
    }
    table tr:nth-child(2n), thead {
        background-color: #fafafa;
    }
    #waline table th {
        background-color: #f2f2f2;
        min-width: 80px;
    }
    #waline table td {
        min-width: 80px;
    }
    #waline h1 {
        font-size: 1.85rem;
        font-weight: bold;
        line-height: 2.2rem;
    }
    #waline h2 {
        font-size: 1.65rem;
        font-weight: bold;
        line-height: 1.9rem;
    }
    #waline h3 {
        font-size: 1.45rem;
        font-weight: bold;
        line-height: 1.7rem;
    }
    #waline h4 {
        font-size: 1.25rem;
        font-weight: bold;
        line-height: 1.5rem;
    }
    #waline h5 {
        font-size: 1.1rem;
        font-weight: bold;
        line-height: 1.4rem;
    }
    #waline h6 {
        font-size: 1rem;
        line-height: 1.3rem;
    }
    #waline p {
        font-size: 1rem;
        line-height: 1.5rem;
    }
    #waline hr {
        margin: 12px 0;
        border: 0;
        border-top: 1px solid #ccc;
    }
    #waline blockquote {
        margin: 15px 0;
        border-left: 5px solid #42b983;
        padding: 1rem 0.8rem 0.3rem 0.8rem;
        color: #666;
        background-color: rgba(66, 185, 131, .1);
    }
    #waline pre {
        font-family: monospace, monospace;
        padding: 1.2em;
        margin: .5em 0;
        background: #272822;
        overflow: auto;
        border-radius: 0.3em;
        tab-size: 4;
    }
    #waline code {
        font-family: monospace, monospace;
        padding: 1px 3px;
        font-size: 0.92rem;
        color: #e96900;
        background-color: #f8f8f8;
        border-radius: 2px;
    }
    #waline pre code {
        font-family: monospace, monospace;
        padding: 0;
        color: #e8eaf6;
        background-color: #272822;
    }
    #waline pre[class*="language-"] {
        padding: 1.2em;
        margin: .5em 0;
    }
    #waline code[class*="language-"],
    pre[class*="language-"] {
        color: #e8eaf6;
    }
    #waline [type="checkbox"]:not(:checked), [type="checkbox"]:checked {
        position: inherit;
        margin-left: -1.3rem;
        margin-right: 0.4rem;
        margin-top: -1px;
        vertical-align: middle;
        left: unset;
        visibility: visible;
    }
    #waline b,
    strong {
        font-weight: bold;
    }
    #waline dfn {
        font-style: italic;
    }
    #waline small {
        font-size: 85%;
    }
    #waline cite {
        font-style: normal;
    }
    #waline mark {
        background-color: #fcf8e3;
        padding: .2em;
    }
    #waline table, th, td {
        padding: 12px 13px;
        border: 1px solid #dfe2e5;
    }
    table tr:nth-child(2n), thead {
        background-color: #fafafa;
    }
    #waline table th {
        background-color: #f2f2f2;
        min-width: 80px;
    }
    #waline table td {
        min-width: 80px;
    }
    #waline [type="checkbox"]:not(:checked), [type="checkbox"]:checked {
        position: inherit;
        margin-left: -1.3rem;
        margin-right: 0.4rem;
        margin-top: -1px;
        vertical-align: middle;
        left: unset;
        visibility: visible;
    }
  </style>
  
  <div class="card waline-card" data-aos="fade-up">
    <div class="comment_headling" style="font-size: 20px; font-weight: 700; position: relative; padding-left: 20px; top: 15px; padding-bottom: 5px;">
        <i class="fas fa-comments fa-fw" aria-hidden="true"></i>
        <span>评论</span>
    </div>
    <div id="waline" class="card-content" style="display: grid">
    </div>
  </div>
  

  <!-- <script src="//cdn.jsdelivr.net/npm/@waline/client"></script> -->
  <script src="<%- theme.jsDelivr.url %><%- url_for(theme.libs.js.waline) %>"></script>
  <script>
    new Waline({
        el: '#waline',
        serverURL: '<%- theme.waline.serverURL %>',
        avatar: '<%- theme.valine.avatar %>'    
    });
  </script> 